
main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: rgba(255, 255, 255, 0.89);
    align-items: center;
    background-color: rgb(46, 139, 86);
    flex-basis: 950px;
}
.partie1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.image_bl2{
    display: flex;
    column-gap: 80px;
}
.bloc2{
   
}
.enCouleurOr{
    color: orange;
}
.grandBou{
    background-color: rgba(255, 255, 255, 0.856);
    color: rgba(0, 0, 0, 0.966);
    height: 30px;
    border-radius: 3px;
}
.boutInter2{
    background-color: olivedrab;
    color: black;
}
.rejoin{
    display: flex;
    font-size: 18px;
}
.inscri{
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 255, 0, 0.466);
}
.bloc3{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.5);
}
.partie2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.les_5_blocs{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
}
.bloc4_5{
    display: flex;
    column-gap: 20px;
}
.bloc6_7{
    display: flex;
    column-gap: 20px;
}
.longParg{
    color: rgba(255, 255, 255, 0.856);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnChifr{
    background-color: rgba(255, 0, 0, 0.719);
    border-radius: 50px;
    width: 25px;
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.titre{
    font-size: 18px;
}
.pied_de_Page{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}
.bloc4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    flex-basis: 400px;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
.bloc5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    flex-basis: 400px;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
.bloc6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    flex-basis: 400px;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
.bloc7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    flex-basis: 400px;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
.bloc8{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    width: 400px;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
.case1{
    background-color: rgba(115, 128, 0, 0.973);
    flex-basis: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case2{
    background-color: rgba(184, 135, 11, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40px;
    width: 180px;
}